*.pyc
*.pyo
*.log
*.tmp
.DS_Store
.dockerignore
.env
.git
.github
.gitignore
.idea/
.venv/
.vscode/
Dockerfile
docker-compose.yml
env/
venv/
__pycache__/
airflow/logs/
airflow/__pycache__/
analytics/__pycache__/
data-layer/
dw-data/
