*.csv
*.egg-info/
*.log
*.parquet
*.pyc
*.pyo
*.tmp
.DS_Store
.dockerignore
.env
.git
.github
.gitignore
.idea/
.venv/
.vscode/
__pycache__/
airflow/__pycache__/
airflow/logs/
analytics/__pycache__/
build/
data-layer/
docker-compose.yml
Dockerfile
dw-data/
env/
venv/
