.env
.ipynb_checkpoints
.venv/
.pytest_cache
.Trash-0
/airflow/config
/airflow/logs
data-layer/stage/*
data-layer/bronze/*
data-layer/silver/*
data-layer/gold/*
!data-layer/stage/*.csv
!data-layer/bronze/*.sql
!data-layer/bronze/*.ipynb
!data-layer/bronze/*.md
!data-layer/bronze/*.pdf
!data-layer/silver/*.sql
!data-layer/silver/*.ipynb
!data-layer/silver/*.md
!data-layer/silver/*.pdf
!data-layer/gold/*.sql
!data-layer/gold/*.ipynb
!data-layer/gold/*.md
!data-layer/gold/*.pdf
/dev
/dw-data
__pycache__/
transformer/dbt/dbt_packages/
transformer/dbt/logs/
transformer/dbt/target/
data-layer/raw/stage
.vscode
