.env
.ipynb_checkpoints
.venv/
.pytest_cache
/airflow/config
/airflow/logs
/data-layer/bronze
/data-layer/silver
/data-layer/gold
/dev
/dw-data
__pycache__/
transformer/dbt/dbt_packages/
transformer/dbt/logs/
transformer/dbt/target/
