.env
.ipynb_checkpoints
.user.yml
.venv/
.pytest_cache
.Trash-0
/airflow/config
/airflow/logs
data-layer/gold/*
data-layer/raw/*
data-layer/silver/*
!data-layer/raw/stage/
!data-layer/raw/*.sql
!data-layer/raw/*.ipynb
!data-layer/raw/*.md
!data-layer/raw/*.pdf
!data-layer/silver/*.sql
!data-layer/silver/*.ipynb
!data-layer/silver/*.md
!data-layer/silver/*.pdf
!data-layer/gold/*.sql
!data-layer/gold/*.ipynb
!data-layer/gold/*.md
!data-layer/gold/*.pdf
/dev
/dw-data
__pycache__/
transformer/dbt/dbt_packages/
transformer/dbt/logs/
transformer/dbt/target/
.vscode
